notebook

# Основные зависимости
langchain
langchain-gigachat
langchain-community
langchain-weaviate
langchain-ollama

# Обработка документов
unstructured[pdf,docx]
pymupdf
pdf2image
pillow
easyocr
python-magic-bin # потом pip uninstall python-magic
langdetect

# Работа с данными
pydantic
pandas
numpy==1.26.2

# Векторная БД
weaviate-client

# Деплой и API
fastapi
uvicorn[standard]
streamlit
python-multipart

# Утилиты
python-dotenv
tqdm
loguru

spacy
# а также python -m spacy download ru_core_news_lg

huggingface_hub[hf_xet]
sentence-transformers
