notebook

# Основные зависимости
langchain
langchain-gigachat
langchain-community
langchain-weaviate

# Обработка документов
unstructured[pdf,docx]  # Главная библиотека для парсинга
pymupdf               # Альтернатива для PDF
pdf2image             # Для конвертации PDF в изображения
pillow                 # Работа с изображениями
easyocr                  # OCR для сканов
python-magic-bin
langdetect

# Работа с данными
pydantic
pandas
numpy==1.26.2

# Векторная БД
weaviate-client

# Деплой и API
fastapi
uvicorn[standard]
streamlit
python-multipart

# Утилиты
python-dotenv
tqdm
loguru

spacy
# а также python -m spacy download ru_core_news_lg